@CHARSET "UTF-8";
body{
	font-size:13px;
	font-family:Arial,sans-serif;
	color:#000;
	background:#fff
}
p,div,ul,li{
  margin:0;
  padding:0;
  border:0;
}
a{color:#00c;font-size:0.9em;} 
a:active{color:#f00} 
a:visited{color:#00c}
.transit{
  width:300px;
  height:500px;
}
.lineHead{
  margin: 0 0 10px 5px;
  padding: 0 0 10px 0px;
  border-bottom:#666 solid 1px;
  position:relative;
}
.searchBox{
  margin:0;
  width:100px;
  color:#808080;
}
.searchButton{
  margin:0 15px 0 -3px;
  font-size:14px;
}
.liveCity{
 	width:60px;
	border:0;
	border-bottom:solid 1px #333;
 }
.messageBoard, .searchPane{
  position:absolute;
  left:0;
  top:30px;
  background-color:#fff;
  border:solid #333333 1px;
  padding:3px;
  width:90%;
  z-index:100;
  display:none;
}
.searchResult{
  overflow-y:auto;
  overflow-x:hidden;
}
.lineName, .list-line-name{
  font-weight:bold;
  font-size:1.2em;
  border:#666 solid 2px;
  padding:1px 2px;
}
.list-line-name{
  font-size:1em;
  border-width:1px;
}
.plyIcon{
  width:16px;
  height:9px;
  background:url("http://chinamaps.googlecode.com/svn/transit/icons/plyIcon.gif") no-repeat left center;
}
html>body .plyIcon{
  padding:2px 8px;
}
.lineDescript{
  margin: 5px 0;
  font-size:1.1em;
}
.stopIcon{
  cursor:pointer;
  font-weight:normal;
  padding-left: 20px;
  background:url("http://chinamaps.googlecode.com/svn/transit/icons/blueStopIcon.png") no-repeat 0 50%;
}
.stationName{
  font-weight:bold;
  font-size:1.2em;
  margin:10px 0 5px 0;
}
.closeIcon{
  float:right;
  font-weight:bold;
}
#linePaneContent, #stopPaneContent{
  height:300px;
  overflow-y:auto;
}
.selected{
  font-weight:bolder;
}