@CHARSET "UTF-8";
body{
	font-size:100%;
	font-family:Arial,sans-serif;
	color:#000;
	background:#fff
}
p,div,ul,li{
  margin:0;
  padding:0;
	border:0;
}
a{color:#00c} 
a:active{color:#f00} 
a:visited{color:#00c}
.transit{
  width:300px;
  height:300px;
}
.lineHead{
  margin: 0 0 10px 5px;
  padding: 0 0 10px 0px;
  border-bottom:#666 solid 1px;
  position:relative;
}
.searchBox{
  margin:0;
  width:100px;
	color:#808080;
}
.searchButton{
  margin:0 15px 0 -3px;
  font-size:14px;
}
.messageBoard{
  display:none;
  position:absolute;
	top:30px;
	left:0px;
	font-size:0.8em;
  width:250px;
  padding: 3px;
  border:#000000 solid 1px;
  background-color:#FFFFFF;
  z-index:100;
}
.resultLines:link,.resultLines:visited, .resultLines:active{
  margin:3px 0 3px 0;
  float:left;
  clear:both;
  width:250px;
  position:relative;
  color:#000000;
  text-decoration:none;
}
.resultLines:hover{
  background-color:#C0C0C0;
}
.resultLines .line-name{
  position:absolute;
  left:0;
}
.resultLines p{
  position:relative;
  margin-left:110px;
  color:#666;
	width:140px;
	word-wrap:break-word;
	word-break:keep-all;
}

.lineContent{
  margin: 10px 0 0 5px;
  display:none;
  position:relative;
  z-index:-1;
}
html>body .lineContent{
  z-index:0;
}
.lineTitle{
  position:relative;
  font-weight:bold;
  margin:0 0 5px 0;
}
.lineTitle img{
	margin:0 3px;
}
.lineName{
  position:absolute;
	font-size:1.2em;
  border:#666 solid 2px;
  padding:3px 2px;
}
#titleDest{
  position:relative;
  float:right;
  right:0;
  top:0;
  padding:3px 0;
}
.plyIcon{
  width:16px;
  height:9px;
  background:url("http://chinamaps.googlecode.com/svn/transit/icons/plyIcon.gif") no-repeat left center;
}
html>body .plyIcon{
  padding:2px 8px;
}
.lineDescript{
  font-size:0.8em;
  margin: 8px 0 5px 0;
}
.lineDescript span{
  margin:0 15px 0 3px;
}
.stopContent{
  float:left;
  width:300px;
  height:250px;
  font-size:0.9em;
  overflow-y:hidden;
}
.stopList{
  
}
.stopList li{
  position:relative;
	padding:2px 0 2px 5px;
	line-height:1.5em;
  list-style-type:none;
  background-image:url("http://chinamaps.googlecode.com/svn/transit/icons/blueStopIcon.png");
  background-repeat:no-repeat;
	background-position:0 50%;
}
.stopList span{
	position:absolute;
	float:left;
	top:0;
  margin-left:15px;
  color:#666;
	text-align:center;
	width:15px;
}
html>body .stopList span{
	top:3px;
}
.stopList a:link, .stopList a:visited, .stopList a:active{
	margin-left:35px;
  color:#000000;
	text-decoration:none;
}
.stopList a:hover{
  text-decoration:underline;
}
.stopList a.selected{
  font-weight:bold;
}

.scrollWrapper{
  position:relative;
  height:260px;
}
/*scroll bar*/
.scrollUp, .scrollDown{
  position:relative;
  float:left;
  left:0;
  z-index:3;
  width:300px;
	height:10px;
  font-size:8px;
}
html>body .scrollUp, scrollDown{
  font-size:12px;
}
.scrollUp:link, .scrollUp:visited, .scrollUp:active{
  background:url("http://chinamaps.googlecode.com/svn/transit/icons/scrollUp.jpg") no-repeat 0 0;
}
.scrollDown:link, .scrollDown:visited, .scrollDown:active{
  background-image:url("http://chinamaps.googlecode.com/svn/transit/icons/scrollDown.jpg");
  background-position:0 -10px;
}
.scrollDown:hover{
  background-position:0 0;
}
.scrollUp:hover{
  background-position:0 -10px;
}
.stationLines{
  display:none;
}
.backLink{
	font-size:0.8em;
}
.stationName{
  font-weight:bold;
  font-size:1.2em;
	margin:10px 0 5px 0;
  padding:0 0 0 20px;
  background-image:url("http://chinamaps.googlecode.com/svn/transit/icons/blueStopIcon.png");
  background-repeat:no-repeat;
  background-position:0 50%;
}
.stationName span{
  font-weight:normal;
  font-size:1em;
}
.stationTitle{
  margin:5px 0 10px 16px;
}
.stationContent{
  float:left;
  width:300px;
  height:250px;
  font-size:0.9em;
  overflow-y:auto;
	
}
.lineList{
  margin:0 0 0 10px;
}
.lineInfo{
  margin:5px 0;
  position:relative;
  list-style-type:none;
  
}
.lineInfo a:link, .lineInfo a:visited, .lineInfo a:active{
  font-weight:bold;
  color:#000000;
  padding:3px 2px;
  border:#666 solid 1px;
  text-decoration:none;
  position:absolute;
  left:0;
}
.lineInfo a:hover{
  text-decoration:underline;
}
.lineTermi{
  position:relative;
  margin-left:120px;
  color:#666;
	padding:3px 0;
	width:150px;
	word-wrap:break-word;
	word-break:keep-all;
}
.highLightMsg{
	color:#FF0000;
}
